body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.clicked{
  color:red;
}

ul li{
  cursor:pointer;
}

header nav a{
    color:#233dcb;
    text-decoration: none;
    font-weight: bold;
    padding:10px;
}

.main header nav{
  width: 75%;
  margin:32px auto;
}

header nav a:hover,
header nav a:active{
  color:#41abf2;
}

.pipes{
  background-color: #ce2765;
  padding:10px;

  div{
     margin-top: 10px;
  }
}